<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>LEGO Sets Collection</title>
</head>
<body>
    <%- include('partials/navbar', {page:"/lego/sets"}) %>

    <div class="container mx-auto my-8">
        <div class="bg-blue-200 p-4 rounded-lg">
            <h1 class="text-4xl font-semibold mb-4">LEGO Sets Collection</h1>
            <p class="text-lg">Explore the world of LEGO through our curated collection of sets.</p>
        </div>
        <div class="bg-white p-4 rounded-lg shadow-md mt-4">
            <table class="table-auto w-full">
                <thead>
                    <tr>
                        <th class="w-1/6 px-4 py-2">Image</th>
                        <th class="w-1/4 px-4 py-2">Name</th>
                        <th class="w-1/6 px-4 py-2">Theme</th>
                        <th class="w-1/6 px-4 py-2">Year</th>
                        <th class="w-1/6 px-4 py-2">Parts</th>
                        <th class="w-1/6 px-4 py-2">Details</th>
                    </tr>
                </thead>
                <tbody>
                    <% sets.forEach(function(set) { %>
                        <tr class="text-center">
                            <td class="border px-4 py-2">
                                <div class="w-20 h-20 mx-auto">
                                    <img src="<%= set.img_url %>" alt="<%= set.name %>" class="object-cover w-full h-full">
                                </div>
                            </td>
                            <td class="border px-4 py-2"><%= set.name %></td>
                            <td class="border px-4 py-2">
                                <a href="/lego/sets?theme=<%= set.Theme.name %>" class="btn btn-primary">
                                    <%= set.Theme.name %>
                                </a>
                            </td>
                            <td class="border px-4 py-2"><%= set.year %></td>
                            <td class="border px-4 py-2"><%= set.num_parts %></td>
                            <td class="border px-4 py-2">
                                <a href="/lego/sets/<%= set.set_num %>" class="btn btn-secondary">
                                    Details
                                </a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
